:root {
  --yorange:#f75023 ;
  --ygreen:#1cbe59;
  --ypurple:#6e50f0;
  --muted:#6f6b80;
  --text-color:  #0C090A;
  --background-color: #ffffff;
}

@font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello3b7f.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Edo SZ TR';
    src: url('/fonts/EdoSZTR.eot');
    src: local('/fonts/Edo SZ TR'), local('EdoSZTR'),
        url('/fonts/EdoSZTR.eot?#iefix') format('embedded-opentype'),
        url('/fonts/EdoSZTR.woff2') format('woff2'),
        url('/fonts/EdoSZTR.woff') format('woff'),
        url('/fonts/EdoSZTR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  @font-face {
    font-family: 'Cyberpunk';
    src: url('/fonts/Cyberpunk-Regular.eot');
    src: url('/fonts/Cyberpunk-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Cyberpunk-Regular.woff2') format('woff2'),
        url('/fonts/Cyberpunk-Regular.woff') format('woff'),
        url('/fonts/Cyberpunk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.eot');
  src: url('/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Rubik-Regular.woff2') format('woff2'),
      url('/fonts/Rubik-Regular.woff') format('woff'),
      url('/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

  .text-muted{
    color:var(--muted) !important;
  }

  .text-green{
    color:var(--ygreen);
  }

  .text-purple{
    color:var(--ypurple);
  }

  .text-orange{
    color:var(--yorange);
  }

  .fs-14{
    font-size:14px;
  }
  
  .fs-16{
    font-size:16px;
  }

  .fs-18{
    font-size:18px;
  }

  .fs-20{
    font-size:20px;
  }

  .btn-outline {
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Jost,sans-serif;
    font-weight: 500;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 300ms;
}

.btn-custom {
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: Jost,sans-serif;
    font-weight: 500;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 300ms;
}


.mt-50{
  margin-top:50px;
}

.mt-100{
  margin-top:100px;
}

*{
  list-style:none !important;
}

ul li {
  list-style: none;
}

ul {
  padding-left: 0rem;
}


.pad-5{
  padding:3rem;
}

@media only screen and (max-width: 768px){
  .pad-5{
    padding:2rem;
  }
  
}


@media only screen and (max-width: 600px) {
  .pad-5{
    padding:1rem;
  }
  
}